:root {
    --primeira-cor: #9ac4f8;
    --segunda-cor: #99edcc;

    --borda: #cb958e;

    --fundo: #e36588;
    --text: #9a275a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primeira-cor);
}

.conteudo {
    display: flex;

    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    height: 70px;
}